.clients {

    background-image: linear-gradient(to bottom right, #FDFCFB, #E2D1C3);
    background-size: cover;
    height: 100vh;

    &__button {
        border-radius: 10px;
        margin: 10px;
        padding: 5px;
        &:active {
            color: green
        }
        &:hover {
            background-color: aquamarine;
        }
    }
}

a {
    color: black;
    text-decoration: none;
}