.main-page {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to bottom right, #FDFCFB, #E2D1C3);
    background-size: cover;
    height: 100vh;


    &__title {
        color: black;
    }

    &__cards {
        display: flex;
        flex-direction: row;
        gap: 20px;

        &-card {
            border: 1px black solid;
            padding: 10px;
            cursor: pointer;

            &:hover {
                background-color: black;
                color: white;
                border-color: white;
            }
        }

    }
}